<div class="container my-auto p-3" th:fragment="contenido">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2>Editar Partido</h2>
                </div>
                <form class="card-body" th:action="@{'/partidos/editar/{id}' (id=${partido.id})}" th:object="${partido}" th:method="PUT">
                        <div class="mb-3 row">                        
                            <label for="fechaPartido" class="form-label">Fecha del partido</label>
                            <input type="date" class="form-control" id="fechaPartido" th:field="*{fechaPartido}">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('fechaPartido')}" th:errors="*{fechaPartido}"></div>
                        </div>
                        <div class="mb-3 row">
                            <label for="seleccionLocal" class="form-label">Selección Local</label>
                            <select id="seleccionLocal" th:field="*{seleccionLocal}" class="select2 form-select" th:errorClass="'is-invalid'">
                                <option value=""></option>
                                <option th:each="s : ${selecciones}" th:value="${s.id}" th:text="${s.nombre}"></option>
                            </select>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('seleccionLocal')}" th:errors="*{seleccionLocal}"></div>
                        </div>
                        <div class="mb-3 row">
                            <label for="seleccionVisitante" class="form-label">Selección Visitante</label>
                            <select id="seleccionVisitante" th:field="*{seleccionVisitante}" class="select2 form-select" th:errorClass="'is-invalid'">
                                <option value=""></option>
                                <option th:each="s : ${selecciones}" th:value="${s.id}" th:text="${s.nombre}"></option>
                            </select>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('seleccionVisitante')}" th:errors="*{seleccionVisitante}"></div>
                         </div>
                         <div class="mb-3">
                            <label for="golesLocal" class="form-label">Goles equipo local</label>
                            <input type="int" class="form-control" id="golesLocal" th:field="*{golesLocal}" th:errorClass="'is-invalid'">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('golesLocal')}" th:errors="*{golesLocal}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="golesVisitante" class="form-label">Goles equipo Visitante</label>
                            <input type="int" class="form-control" id="golesVisitante" th:field="*{golesVisitante}" th:errorClass="'is-invalid'">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('golesVisitante')}" th:errors="*{golesVisitante}"></div>
                        </div>
                        <div class="mb-3 row">
                            <label for="estadio" class="form-label">Estadio</label>
                            <select id="estadio" th:field="*{estadio}" class="select2 form-select" th:errorClass="'is-invalid'">
                                <option value=""></option>
                                <option th:each="e : ${estadios}" th:value="${e.id}" th:text="${e.nombre}"></option>
                            </select>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('estadio')}" th:errors="*{estadio}"></div>
                         </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary mx-2">Editar</button>
                        <a href="/partidos" class="btn btn-secondary mx-2">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:fragment="script"></script>S